<!--E<h1>{{TITULO}}</h1> Es como una variable-->
<!--E<h2>{{saludo}}</h2> Es como una variable es como Java script-m -->
<!--E<h3>{{2+2}}</h3> lo que esta entre llaves es codigo java script -->


<app-header></app-header> <!--En todas las pagincas coloca la cabecera -->

<router-outlet></router-outlet>   <!--renderiza toda la aplicacion -->

<app-home></app-home>

<app-footer></app-footer>  <!--En todas las paginas coloca la cabecera -->


<!--comando en el terminal para crear nuevo poryecto como footer y home y header   -->
<!-- ng g c footer -->
<!-- ng serve --open  inicia el servidor-->